@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

/*  font-family: 'Merriweather', serif; */
/* font-family: 'Inter', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

/* Sheared */

.container {
    width: 82%;
    max-width: 1320px;
    margin: 0px auto;
    margin-bottom: 120px;

    /* background-color: #f8c3c3; */
}

.description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* Header Section */

.banner {
    margin-top: 50px;
    border-radius: 16px;
    position: relative;
    text-align: center;

}

.img-gradient {
    position: relative;
}

.img-gradient::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;

}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-content h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-content h1 {
    width: 632px;

    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

/* Discount Section */

.discount-content h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
}

.discount-content p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.discount-content h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
}

.discount-img {
    text-align: center;
}

/* Welcome Section */

.welcome {
    height: 600px;
    background-image: url(../resources/Vectorrr.png);

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.welcome-year-img {
    border-radius: 16px;
}

.second-gradient {

    width: 1320px;
    height: 600px;
    flex-shrink: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;



}

.welcome-content h1 {
    width: 642px;
    padding-bottom: 24px;

    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-content p {
    width: 697px;
    padding-bottom: 40px;

    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.welcome-content button {
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: rgb(211, 109, 2);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Place-time Section */
.place-time {
    border-radius: 16px;
    height: 482px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.place-time-content {
    padding-top: 100px;
}

.place-time-content p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place-time-content p span {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place-time button {
    margin-top: 48px;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Offer Section */
.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-content h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-content h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.offer-content p {
    width: 390px;
}

.offer-year h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-year p {
    width: 276px;
    margin-bottom: 43px;
}

.offer-img {
    width: 364.844px;
    height: 364.844px;

    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;

    border-radius: 463px;
    border: 15px solid #F00;

    padding: 30px;
}

/* Gifts Section */
.gift-description {
    margin-bottom: 48px;
}

.gift-description h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.gift-description h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 23px;
}

.gift-description p {
    width: 896px;
}

.gift-img-box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.img-box {
    border-radius: 16px;
}


/* Newsletter Section */

.newsletter {
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
}

.newsletter-img {
    padding-top: 80px;
    margin-bottom: 40px;
}

.newsletter h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.newsletter p {
    width: 896px;
    margin: 22px 212px 48px 212px;
}

.subscribe-btn input {
    padding-left: 30px;
    width: 438px;
    height: 72px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px 0px 0px 50px;
}

.subscribe-btn button {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}